<p>One way data binding example...!</p>
<label for="server_name1">Server Name 1</label>
<input
  id="server_name1"
  text="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
>
<p>Server created with server name is: {{ getServerName() }} </p>
<hr>
<p>2 way data binding example...!</p>
<label for="server_name2">Server Name 2</label>
<input
  id="server_name2"
  text="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<p>Server created with server name is: {{ getServerName() }} </p>
<hr>
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()" >
  Add Server
</button>
<p [innerText]="getAllowNewServer()"></p>
<p>
  Initial state of allowNewServer = {{ getAllowNewServer() }}
</p>
<p> {{ serverCreationStatus }}</p>
<hr>
<app-server></app-server>
<app-server></app-server>
