<label for="server_name">Server Name</label>
<input
  id="server_name"
  text="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
>
<p></p>
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()" >
  Add Server
</button>
<p [innerText]="getAllowNewServer()"></p>
<p>
  Initial state of allowNewServer = {{ getAllowNewServer() }}
</p>
<p> {{ serverCreationStatus }} and the server name is: {{ getServerName() }} </p>
<hr>
<app-server></app-server>
<app-server></app-server>
